html,
body {

    background-color: lightpink;

    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;



}

input {
    text-align: middle;
    vertical-align: middle;
}

tr {
    border-width: 500em;
    border-color: blueviolet;
}




td {
    width: 3em;
    padding-bottom: 3em;
    height: 3;


    background-color: beige;
    font-size: large;
}

td div {
    position: absolute;
    text-align: middle;
    vertical-align: middle;
}

.celica1 {
    text-align: middle;
    vertical-align: middle;
    line-height: 5em;

    font-size: large;
    width: 3em;
    padding-bottom: 3em;
    height: 0;
    background-color: lightyellow
}

.dobro {
    background-color: lightyellow;
    width: 4em;
    padding-bottom: 3em;
    height: 1;
}

.slabo {
    background-color: red;
    width: 4em;
    padding-bottom: 3em;
    height: 1;
}

.ponovitev {
    background-color: rgb(121, 59, 99);
    width: 4em;
    padding-bottom: 3em;
    height: 1;
}

#r0c0,
#r0c1,
#r0c2,
#r0c3,
#r0c4,
#r0c5,
#r0c6,
#r0c7,
#r0c8 {
    border-top: 8px solid black;
    ;
}

#r8c0,
#r8c1,
#r8c2,
#r8c3,
#r8c4,
#r8c5,
#r8c6,
#r8c7,
#r8c8 {
    border-bottom: 8px solid black;
    ;
}


#r0c0,
#r1c0,
#r2c0,
#r3c0,
#r4c0,
#r5c0,
#r6c0,
#r7c0,
#r8c0 {
    border-left: 8px solid black;
    ;
}

#r0c8,
#r1c8,
#r2c8,
#r3c8,
#r4c8,
#r5c8,
#r6c8,
#r7c8,
#r8c8 {
    border-right: 8px solid black;
    ;
}

#r0c2,
#r1c2,
#r2c2,
#r3c2,
#r4c2,
#r5c2,
#r6c2,
#r7c2,
#r8c2 {
    border-right: 8px solid black;
    ;
}

#r0c5,
#r1c5,
#r2c5,
#r3c5,
#r4c5,
#r5c5,
#r6c5,
#r7c5,
#r8c5 {
    border-right: 8px solid black;
    ;
}

#r2c0,
#r2c1,
#r2c2,
#r2c3,
#r2c4,
#r2c5,
#r2c6,
#r2c7,
#r2c8 {
    border-bottom: 8px solid black;
}

#r5c0,
#r5c1,
#r5c2,
#r5c3,
#r5c4,
#r5c5,
#r5c6,
#r5c7,
#r5c8 {
    border-bottom: 8px solid black;
}

h1 {
    font-style: italic;
    font-weight: 300;
    color: darkgreen;
    text-decoration: wavy, darkgreen;
    ;
}