html,

.oranzna_zelena_vijola {
    --ozadje: rgb(150, 100, 50);
    --tekst_in_obrobe: #3a3e23;
    --levi_sudoku: #726f85;
    --desni_sudoku: #5b5387;
    --rob_tebele: #335e26f1;
    --navodila: rgb(134, 91, 48);
    --ponovitev: #9f301f;
    --levi_sudoku_hover: #696679;
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: rgba(94, 87, 136, 0.6)
}

.bolece_oci {
    --ozadje: rgb(50, 150, 98);
    --tekst_in_obrobe: #a12b49;
    --levi_sudoku: #726f85;
    --desni_sudoku: #6a8753;
    --rob_tebele: #2a265ef1;
    --navodila: rgb(62, 134, 48);
    --ponovitev: #9f301f;
    --levi_sudoku_hover: #696679;
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: rgba(83, 82, 91, 0.6);
}

.crno_bela {
    --ozadje: white;
    --tekst_in_obrobe: black;
    --levi_sudoku: white;
    --desni_sudoku: #white;
    --rob_tebele: black;
    --navodila: white;
    --ponovitev: #9f301f;
    --levi_sudoku_hover: #79787c;
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: rgba(235, 234, 240, 0.6);
}

.taka_natural {
    --ozadje: rgb(248, 189, 189);
    --tekst_in_obrobe: black;
    --levi_sudoku: rgb(210, 248, 178);
    --desni_sudoku: #white;
    --rob_tebele: rgb(119, 182, 158);
    --navodila: rgb(109, 148, 119);
    --ponovitev: #ee1212;
    --levi_sudoku_hover: #346e9e;
    --ponovitev_hover: #b62d81;
    --disabled_resi: rgba(235, 234, 240, 0.6);
}

.pastelna_mesanca {
    --ozadje: rgb(248, 189, 189);
    --tekst_in_obrobe: rgb(155, 121, 247);
    --levi_sudoku: rgb(197, 212, 245);
    --desni_sudoku: #white;
    --rob_tebele: rgb(248, 189, 189);
    /* --rob_tebele: rgb(240, 184, 212); */
    --navodila: rgb(175, 223, 245);
    --ponovitev: #eb9090;
    --levi_sudoku_hover: #98c9f1;
    --ponovitev_hover: #b62d81;
    --disabled_resi: rgba(235, 234, 240, 0.6);
}

.pinky {
    --ozadje: rgb(248, 189, 189);
    --tekst_in_obrobe: rgb(105, 15, 60);
    --levi_sudoku: rgb(230, 173, 185);
    --desni_sudoku: white;
    --rob_tebele: rgb(173, 24, 116);
    --navodila: rgb(228, 129, 206);
    --ponovitev: #ee1212;
    --levi_sudoku_hover: #611b38;
    --ponovitev_hover: #b62d81;
    --disabled_resi: rgba(235, 234, 240, 0.6);
}

.dark {
    --ozadje: rgb(24, 20, 80);
    --tekst_in_obrobe: #2f4e50;
    --levi_sudoku: #461c66;
    --desni_sudoku: #1f544a;
    --rob_tebele: #28441ff1;
    --navodila: rgb(36, 39, 86);
    --ponovitev: #9f301f;
    --levi_sudoku_hover: #522178;
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: #1f544a86;
}

.dark_2 {
    --ozadje: rgb(80, 20, 25);
    --tekst_in_obrobe: black;
    --levi_sudoku: #7d7a2a;
    --desni_sudoku: #7d642a;
    --rob_tebele: rgb(80, 20, 25);
    --navodila: rgb(86, 28, 33);
    --ponovitev: #9f301f;
    --levi_sudoku_hover: #8f8b30;
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: #7d642a94;
}

.roza {
    --ozadje: rgb(180, 116, 154);
    --tekst_in_obrobe: rgb(86, 31, 64);
    --levi_sudoku: rgb(166, 72, 128);
    --desni_sudoku: rgb(140, 61, 108);
    --rob_tebele: rgb(86, 31, 64);
    --navodila: rgb(180, 116, 154);
    --ponovitev: #9f301f;
    --levi_sudoku_hover: rgb(156, 66, 120);
    --ponovitev_hover: #8a2b1c;
    --disabled_resi: rgb(126, 55, 97);
}

.jacaster {
    --ozadje: #c4a105;
    --tekst_in_obrobe: #471f20;
    --levi_sudoku: #3a583f;
    --desni_sudoku: #3a583f;
    --rob_tebele: #c4a105;
    --navodila: #bb9a07;
    --ponovitev: #76191f;
    --levi_sudoku_hover: #4a4a3c;
    --ponovitev_hover: #69171d;
    --disabled_resi: #5c5c50a2;
}



body {
    background-color: var(--odzadje);
    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;
}

h1 {
    font-weight: 5000;
    font-size: 60px;
    color: var(--tekst_in_obrobe);

}

thead {
    text-align: center;
    vertical-align: middle;

}

.gumb_navodila {
    background-color: var(--navodila);
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: var(--tekst_in_obrobe);
}

#izpisana_navodila {
    background-color: var(--navodila);
    border: 8px solid var(--tekst_in_obrobe);
    color: var(--tekst_in_obrobe);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 300px;
    cursor: pointer;
}

#vidna {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

#nevidna {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#ogromen_pravokotnik {
    z-index: -100;
    background-color: var(--ozadje);
    width: 100%;
    height: 100%;
    padding-top: 500px;
    position: absolute;
}

#sporocilo_resljivosti {
    font-weight: bold;
    font-size: 16px;
    color: var(--tekst_in_obrobe);
}

div {
    text-size-adjust: auto;
    text-align: center;
}

table {
    position: fixed;
    left: 15%;
    right: 15%;
    width: 70%;

}

.osnovna_tabela {
    width: 50%;
    border: 8px solid var(--rob_tebele);
}


.resi_shrani_barve {
    background-color: var(--desni_sudoku);
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: var(--tekst_in_obrobe);
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.resi_shrani_barve:disabled {
    background-color: var(--disabled_resi);
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: var(--tekst_in_obrobe);
    cursor: not-allowed;
}

.gumb_naprej_nazaj {
    background-color: var(--levi_sudoku);
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: var(--tekst_in_obrobe);
}

.celica {
    width: 60px;
    padding-top: 0%;
    padding-bottom: 2%;
    font-size: 30px;
    background-color: var(--desni_sudoku);
}

.celica_1 {
    height: 36px;
    line-height: 36px;
}

.naslov {
    height: 60px;
    line-height: 60px;
    padding-bottom: 10px;
}

.dobro {
    background-color: var(--levi_sudoku);
    text-align: center;
    font-size: 30px;
    width: 86%;
    padding-bottom: 15%;
}

.ponovitev {
    background-color: var(--ponovitev);
    text-align: center;
    font-size: 30px;
    width: 86%;
    padding-bottom: 15%;
}


.dobro:hover {
    background-color: var(--levi_sudoku_hover);
}

.ponovitev:hover {
    background-color: var(--ponovitev_hover);
}



#r0c0,
#r0c1,
#r0c2,
#r0c3,
#r0c4,
#r0c5,
#r0c6,
#r0c7,
#r0c8 {
    border-top: 8px solid var(--tekst_in_obrobe);
    ;
}



#r0c0,
#r1c0,
#r2c0,
#r3c0,
#r4c0,
#r5c0,
#r6c0,
#r7c0,
#r8c0 {
    border-left: 8px solid var(--tekst_in_obrobe);
    ;
}

#r0c8,
#r1c8,
#r2c8,
#r3c8,
#r4c8,
#r5c8,
#r6c8,
#r7c8,
#r8c8,
#r0c2,
#r1c2,
#r2c2,
#r3c2,
#r4c2,
#r5c2,
#r6c2,
#r7c2,
#r8c2,
#r0c5,
#r1c5,
#r2c5,
#r3c5,
#r4c5,
#r5c5,
#r6c5,
#r7c5,
#r8c5 {
    border-right: 8px solid var(--tekst_in_obrobe);
    ;
}

#r0c0,
#r1c0,
#r2c0,
#r3c0,
#r4c0,
#r5c0,
#r6c0,
#r7c0,
#r8c0,
#r0c1,
#r1c1,
#r2c1,
#r3c1,
#r4c1,
#r5c1,
#r6c1,
#r7c1,
#r8c1,
#r0c3,
#r1c3,
#r2c3,
#r3c3,
#r4c3,
#r5c3,
#r6c3,
#r7c3,
#r8c3,
#r0c4,
#r1c4,
#r2c4,
#r3c4,
#r4c4,
#r5c4,
#r6c4,
#r7c4,
#r8c4,
#r0c6,
#r1c6,
#r2c6,
#r3c6,
#r4c6,
#r5c6,
#r6c6,
#r7c6,
#r8c6,
#r0c7,
#r1c7,
#r2c7,
#r3c7,
#r4c7,
#r5c7,
#r6c7,
#r7c7,
#r8c7 {
    border-right: 3px solid var(--tekst_in_obrobe);
    ;
}


#r2c0,
#r2c1,
#r2c2,
#r2c3,
#r2c4,
#r2c5,
#r2c6,
#r2c7,
#r2c8,
#r5c0,
#r5c1,
#r5c2,
#r5c3,
#r5c4,
#r5c5,
#r5c6,
#r5c7,
#r5c8,
#r8c0,
#r8c1,
#r8c2,
#r8c3,
#r8c4,
#r8c5,
#r8c6,
#r8c7,
#r8c8 {
    border-bottom: 8px solid var(--tekst_in_obrobe);
}


#r0c0,
#r0c1,
#r0c2,
#r0c3,
#r0c4,
#r0c5,
#r0c6,
#r0c7,
#r0c8,
#r1c0,
#r1c1,
#r1c2,
#r1c3,
#r1c4,
#r1c5,
#r1c6,
#r1c7,
#r1c8,
#r3c0,
#r3c1,
#r3c2,
#r3c3,
#r3c4,
#r3c5,
#r3c6,
#r3c7,
#r3c8,
#r4c0,
#r4c1,
#r4c2,
#r4c3,
#r4c4,
#r4c5,
#r4c6,
#r4c7,
#r4c8,
#r6c0,
#r6c1,
#r6c2,
#r6c3,
#r6c4,
#r6c5,
#r6c6,
#r6c7,
#r6c8,
#r7c0,
#r7c1,
#r7c2,
#r7c3,
#r7c4,
#r7c5,
#r7c6,
#r7c7,
#r7c8 {
    border-bottom: 3px solid var(--tekst_in_obrobe);
}