html,
body {
    /* background-color: rgb(158, 93, 28); */
    background-color: rgb(150, 100, 50);
    padding: 0;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0 auto;



}

h1 {
    font-weight: 5000;
    font-size: 60px;
    color: #3a3e23;

}

thead {
    text-align: center;
    vertical-align: middle;

}

#gumb_navodila {
    background-color: rgb(134, 91, 48);
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: #3a3e23;

}

#izpisana_navodila {
    background-color: rgb(134, 91, 48);
    border: 8px solid #3a3e23;
    color: #3a3e23;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 300px;
    cursor: pointer;
}

#vidna {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

#nevidna {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


#sporocilo_resljivosti {
    font-weight: bold;
    font-size: 16px;
    color: #3a3e23;
}

.hide {
    display: none;
}

.myDIV:hover+.hide {
    display: block;
    color: #335e26f1;
    font-weight: bold;
}




div {
    text-size-adjust: auto;
    text-align: center;
}


input::placeholder {
    text-align: center;
    font-size: 30px;
}



table {
    position: fixed;
    left: 15%;
    right: 15%;
    width: 70%;

}

.osnovna_tabela {
    width: 50%;
    border: 8px solid #335e26f1;
}


#resi {
    background-color: #5b5387;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #3a3e23;
}

#natisni {
    background-color: #726f85;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #3a3e23;
}

.celica {
    width: 60px;
    padding-top: 0%;
    padding-bottom: 2%;
    font-size: 30px;
    background-color: #5b5387
}

.celica_1 {
    height: 36px;
    line-height: 36px;
}

.naslov {
    height: 60px;
    line-height: 60px;
    padding-bottom: 10px;
}

.dobro {
    background-color: #726f85;
    text-align: center;
    font-size: 30px;

    width: 86%;
    padding-bottom: 15%;


}

.ponovitev {
    background-color: #9f301f;
    text-align: center;
    font-size: 30px;

    width: 86%;
    padding-bottom: 15%;

}


.dobro:hover {
    background-color: #696679;
}

.ponovitev:hover {
    background-color: #8a2b1c;
}



#r0c0,
#r0c1,
#r0c2,
#r0c3,
#r0c4,
#r0c5,
#r0c6,
#r0c7,
#r0c8 {
    border-top: 8px solid #3a3e23;
    ;
}



#r0c0,
#r1c0,
#r2c0,
#r3c0,
#r4c0,
#r5c0,
#r6c0,
#r7c0,
#r8c0 {
    border-left: 8px solid #3a3e23;
    ;
}

#r0c8,
#r1c8,
#r2c8,
#r3c8,
#r4c8,
#r5c8,
#r6c8,
#r7c8,
#r8c8,
#r0c2,
#r1c2,
#r2c2,
#r3c2,
#r4c2,
#r5c2,
#r6c2,
#r7c2,
#r8c2,
#r0c5,
#r1c5,
#r2c5,
#r3c5,
#r4c5,
#r5c5,
#r6c5,
#r7c5,
#r8c5 {
    border-right: 8px solid #3a3e23;
    ;
}

#r0c0,
#r1c0,
#r2c0,
#r3c0,
#r4c0,
#r5c0,
#r6c0,
#r7c0,
#r8c0,
#r0c1,
#r1c1,
#r2c1,
#r3c1,
#r4c1,
#r5c1,
#r6c1,
#r7c1,
#r8c1,
#r0c3,
#r1c3,
#r2c3,
#r3c3,
#r4c3,
#r5c3,
#r6c3,
#r7c3,
#r8c3,
#r0c4,
#r1c4,
#r2c4,
#r3c4,
#r4c4,
#r5c4,
#r6c4,
#r7c4,
#r8c4,
#r0c6,
#r1c6,
#r2c6,
#r3c6,
#r4c6,
#r5c6,
#r6c6,
#r7c6,
#r8c6,
#r0c7,
#r1c7,
#r2c7,
#r3c7,
#r4c7,
#r5c7,
#r6c7,
#r7c7,
#r8c7 {
    border-right: 3px solid #3a3e23;
    ;
}


#r2c0,
#r2c1,
#r2c2,
#r2c3,
#r2c4,
#r2c5,
#r2c6,
#r2c7,
#r2c8,
#r5c0,
#r5c1,
#r5c2,
#r5c3,
#r5c4,
#r5c5,
#r5c6,
#r5c7,
#r5c8,
#r8c0,
#r8c1,
#r8c2,
#r8c3,
#r8c4,
#r8c5,
#r8c6,
#r8c7,
#r8c8 {
    border-bottom: 8px solid #3a3e23;
}


#r0c0,
#r0c1,
#r0c2,
#r0c3,
#r0c4,
#r0c5,
#r0c6,
#r0c7,
#r0c8,
#r1c0,
#r1c1,
#r1c2,
#r1c3,
#r1c4,
#r1c5,
#r1c6,
#r1c7,
#r1c8,
#r3c0,
#r3c1,
#r3c2,
#r3c3,
#r3c4,
#r3c5,
#r3c6,
#r3c7,
#r3c8,
#r4c0,
#r4c1,
#r4c2,
#r4c3,
#r4c4,
#r4c5,
#r4c6,
#r4c7,
#r4c8,
#r6c0,
#r6c1,
#r6c2,
#r6c3,
#r6c4,
#r6c5,
#r6c6,
#r6c7,
#r6c8,
#r7c0,
#r7c1,
#r7c2,
#r7c3,
#r7c4,
#r7c5,
#r7c6,
#r7c7,
#r7c8 {
    border-bottom: 3px solid #3a3e23;
}